body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  /* h1, h2 {
    text-align: center;
    color: #333;
  } */
  
  nav {
    text-align: center;
    margin-bottom: 20px;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  .grayed-out {
    color: gray;
    background-color: lightgray;
    cursor: not-allowed;
  }

  
  .bg-light-gray {
    background-color: rgb(255, 246, 246);
  }
